@import './variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1500;
  height: 75px;
  width: 100%;
  background-color: $secondaryColor;

  h4 {
    color: white;
    font-size: 2rem;
    @media only screen and (max-width: $smallScreen) {
      font-size: 1.5rem;
    }
  }

  .menu-button {
    left: 0;
    top: 75px/2;
    margin-left: 25px;
    color: white;
  }
}

.error-paragraph {
  text-align: center;
}

.drawer {
  .MuiDrawer-paper {
    width: $drawerWidth;
    background-color: $secondaryColor;
    color: white;

    p {
      font-size: 16px;
      text-align: center;
    }

    .MuiSvgIcon-root {
      color: white;
    }

    img {
      margin: 50px 10px 25px;
    }

    .menu-link {
      text-decoration: none;
      color: #fff;
    }
  }
}

.status-popover {
  padding: 0 10px;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @extend .view-container;
}

// Analytics dashboard

.analytics-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @extend .view-container;

  .stat-container {
    &-1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 75px;
    }
  }
  .stat-card {
    background-color: $secondaryColor;
    width: 230px;
    height: 200px;
    margin: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    svg {
      border: 1px solid #333;
      padding: 25px;
    }

    h1 {
      font-size: 25px;
    }
  }

  .wizard-chart-container {
    background-color: $secondaryColor;
    width: 60%;
    padding: 25px;

    h1 {
      font-size: 25px;
      text-align: center;
      margin-bottom: 25px;
    }
  }
}

// Inquiry table

.table {
  height: auto;
  @media only screen and (max-width: $smallScreen) {
    max-width: 600px;
  }

  .table-header th {
    font-weight: bold;
  }

  .date-switch {
    .MuiSwitch-colorSecondary.Mui-checked {
      color: $mainColor;
    }
    .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
      background-color: $mainColor;
    }
  }

  .MuiTableCell-root.collapsible-cell {
    background-color: rgba(255, 208, 156, 0.2);
    padding-bottom: 0;
    padding-top: 0;

    h4 {
      margin-top: 25px;
    }

    .wrapper {
      display: flex;
      margin-bottom: 25px;
      justify-content: space-between;
      @media only screen and (max-width: $smallScreen) {
        flex-direction: column;
      }

      .info-container {
        width: 40%;
        padding: 15px;
        line-height: 1.7rem;

        @media only screen and (max-width: $smallScreen) {
          width: 100%;
        }
        p {
          border-bottom: 1px solid lightgrey;
          div {
            display: inline;
          }
          span {
            @media only screen and (max-width: $smallScreen) {
              margin-right: 30px;
            }
          }
        }
        span {
          float: right;
          font-weight: bold;
          text-align: end;
          &:first-letter {
            text-transform: capitalize;
          }
        }
      }

      .status-buttons-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        div:first-of-type {
          flex-direction: row;
        }
      }
      .note-info-container {
        width: 50%;
        @media only screen and (max-width: $smallScreen) {
          width: 100%;
        }

        .notes-container {
          display: flex;
          flex-direction: column;
          height: 300px;
          padding: 15px;
          width: 95%;
          overflow-y: scroll;
          border: 1px solid lightgrey;
          margin-bottom: 15px;
          @media only screen and (max-width: $smallScreen) {
            width: 90%;
            margin-bottom: 10px;
          }
          .notes-meta {
            font-style: italic;
            font-size: 12px;
          }

          .notes-text {
            font-size: 14px;
            margin-bottom: 8px;
          }
        }
        .notes-input {
          width: 90%;
          border-radius: 6px;
          padding: 10px;
          margin-bottom: 15px;
          outline: none;
          border: 2px solid $secondaryColor;
          background-color: transparent;

          &:focus {
            background-color: #fff;
          }
        }

        .notes-button {
          color: #333;
          cursor: pointer;
          display: block;
          border-radius: 6px;
          border: 2px solid $secondaryColor;
          padding: 10px;
          background-color: transparent;
          transition: 0.3s;
          &:hover {
            background-color: $secondaryColor;
            border: 2px solid $secondaryColor;
          }
        }
      }
    }
  }
}

// Login page

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  .login-image {
    height: auto;
    width: 50%;
    object-fit: cover;
    @media only screen and (max-width: $tablet) {
      display: none;
    }
  }

  .login-container {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media only screen and (max-width: $tablet) {
      border-radius: 10px;
      background-color: #fff;
      z-index: 1;
      margin: auto;
      width: 60%;
      padding: 25px 10px;
    }
    @media only screen and (max-width: $mobile) {
      width: 80%;
    }

    .login-logo {
      height: 50px;
      position: absolute;
      top: 40px;

      @media only screen and (max-width: $tablet) {
        position: static;
        height: 100px;
        margin-bottom: 25px;
      }

      @media only screen and (max-width: $mobile) {
        height: 80px;
        margin-bottom: 25px;
      }
    }

    h1 {
      text-transform: uppercase;
      font-size: 24px;
      color: #333;
    }

    p {
      margin-top: 50px;
      font-size: 13px;
      color: #333;
    }

    .form-container {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      width: 75%;

      .MuiFormControl-root {
        margin-bottom: 25px;
      }

      .MuiOutlinedInput-root {
        fieldset {
          border-color: $secondaryColor;
        }
      }

      .MuiFormLabel-root,
      .MuiFormLabel-root.Mui-focused {
        color: $secondaryColor;
      }

      .MuiButton-outlinedPrimary {
        border-color: $secondaryColor;
        color: $secondaryColor;

        &:hover {
          background-color: $secondaryColor;
          color: white;
        }
      }
    }
  }
}
