$mainColor: grey;
$secondaryColor: #E86406;
$backgroundColor: #fff;
$drawerWidth: 200px;
$smallScreen: 820px;
$tablet: 1024px;
$mobile: 620px;
$font: 'Nexa-Light', sans-serif;
$headerFont: 'Nexa-Bold', sans-serif;